{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
                    <div class="container-fluid">
                        <div class="page-title">
                            <br>
                            <h4>Account</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <img class="mrg-top-30" src="{% static 'assets/images/avatars/avatar-5.png' %}" alt="" style="max-width: 100px">
                                                <h4 class="mrg-top-20 no-mrg-btm text-semibold">{{users.first_name}}</h4>
                                                {% if is_staff %}
                                                       <p>Delivery Boy</p>
                                                {% else %}
                                                       <p>Customer</p>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-heading border bottom">
                                                <h4 class="card-title">General Info</h4>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Name</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                         <p class="mrg-top-10">{{users.first_name}}</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Email</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="mrg-top-10">{{users.email}}</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                 <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Phone Number</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="mrg-top-10">{{users.phonenumber}}</p>
                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Location</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="mrg-top-10">{{users.city}}, {{users.pincode}},{{users.state}}, {{users.country}}</p>
                                                    </div>
                                                </div>
                                                <hr>
<!--                                                <div class="row">-->
<!--                                                    <div class="col-md-3">-->
<!--                                                        <p class="mrg-top-10 text-dark"> <b>Status</b></p>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-6">-->
<!--                                                        <p class="mrg-top-10">-->
<!--                                                            <span class="status online mrg-top-10"></span>-->
<!--                                                            <span class="mrg-left-10">Available</span>-->
<!--                                                        </p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




{% endblock %}