{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

    <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                          <div class="page-title">
                            <h4>Books</h4>
                             <a href="{% url 'add_ebook' %}">
                                       <button class="btn btn-sm btn-primary" > Add e-Book +</button>
                                       </a>
                        </div>
                        <div class="page-title">
                            <h4>Users List</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="table-overflow">
                                            <table id="dt-opt" class="table table-lg table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>E-Book</th>
                                                        <th>Category</th>
                                                        <th>Author</th>
                                                        <th>Language</th>
                                                        <th>Year</th>
                                                        <th>Publisher</th>
                                                         <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {% for ebook in ebook %}
                                                    <tr>
                                                        <td>
                                                            <div class="list-info mrg-top-10">
                                                             <img class="thumb-img" src="{{ebook.img.url}}" alt="">
                                                                <div class="info">
                                                                    <span class="title">{{ebook.ebook_name}}</span>
<!--                                                                    <span class="sub-title">{{users.id}}</span>-->
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="relative mrg-top-15">
                                                                <span class="title">{{ebook.book_category}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-15">
                                                                <span class="title"><b>{{ebook.book_author}}</b></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-15">
                                                                <span>{{ebook.book_language}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-15">
                                                                <b class="title">{{ebook.book_year}}</b>
                                                            </div>
                                                        </td>
                                                         <td>
                                                            <div class="mrg-top-15">
                                                                <b class="title">{{ebook.book_publisher}}</b>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-10 text-center">
                                                                <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                                                                    <a href="{% url 'admin_ebookview' ebook.book_id %}">View</a>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                     {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Wrapper END -->
{% endblock %}