{% extends 'admin_base.html' %}
{% block content %}

    <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="page-title">
                            <h4>Reviews</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="table-overflow">
                                            <table id="dt-opt" class="table table-lg table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Book</th>
                                                        <th>User</th>
                                                        <th>Headline</th>
                                                        <th>Review</th>
                                                        <th>Rating</th>
                                                         <th>Date</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {% for review in review %}
                                                    <tr>
                                                        <td>
                                                            <div class="list-info mrg-top-10">
<!--                                                                <img class="thumb-img" src="assets/images/avatars/avatar-5.png" alt="">-->
                                                                <div class="info">
                                                                    <span class="title">{{review.product.book_name}}</span>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="relative mrg-top-15">
                                                                <span class="pdd-left-20">{{review.user.first_name}}</span>
                                                            </div>
                                                        </td>
                                                         <td>
                                                            <div class="relative mrg-top-15">
                                                                <span class="pdd-left-20">{{review.headline}}</span>
                                                            </div>
                                                        </td>
                                                         <td>
                                                            <div class="relative mrg-top-15">
                                                                <span class="pdd-left-20">{{review.review}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-15">
                                                                 <span class="status online"> </span>
                                                                <span class="text-info"><b>{{review.rating}}</b></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mrg-top-15">
                                                                <b class="text-dark font-size-16">{{review.updated_at}}</b>
                                                            </div>
                                                        </td>
<!--                                                        <td>-->
<!--                                                            <div class="mrg-top-10 text-center">-->
<!--                                                                <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle">-->
<!--                                                                    <i class="ti-more-alt"></i>-->
<!--                                                                </button>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
                                                    </tr>
                                                  {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Wrapper END -->
{% endblock %}