{% extends 'base1.html' %}
{% block content %}
{% load static %}
<div class="section">
			<!-- container -->
			<div class="container">
<h1>Book Search</h1>

  <form method="post" enctype="multipart/form-data" action="{% url 'book_search' %}">

    {% csrf_token %}
    <div class="form-group">
      <label for="book_cover">Upload an image of a book cover:</label>
      <input type="file" class="form-control-file" id="book_cover" name="book_cover">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
 {% include 'alert.html' %}

								  <script>
									  setTimeout(function(){
										if ($('#msg').length > 0){
										  $('#msg').remove();
										  }
										},2900)

								  </script>
  {% if search_results %}
    <hr>
    <h2>Search Results</h2>

			<div class="row" >
        {% for i in search_results %}


                             <div class="col-md-3 col-xs-5">
								<div class="product" style="height:600px;">

									<div class="product-img">
										<a href="{% url 'product' i.book_id %}"><img src="{{i.img.url}}" alt="All Books" height="300px" ></a>
<!--										<div class="product-label">-->
<!--											<span class="sale">-30%</span>-->
<!--											<span class="new">NEW</span>-->
<!--										</div>-->
									</div>
									<div class="product-body">
										<p class="product-category">{{i.book_category}}</p>
										<h3 class="product-name" style="font-size:12px;"><a href="{% url 'product' i.book_id %}">{{i.book_name}}</a></h3>
										<h4 class="product-price">₹{{i.book_price}}.00<del class="product-old-price">₹{{i.book_oldprice}}.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><a  href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                     <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
											</svg></a><span class="tooltipp">add to wishlist</span></button>
										</div>
									</div>
									<div class="add-to-cart" >

										 {% if i.book_quantity > 0 %}
										<button class="add-to-cart-btn" type="submit">  <a href="{% url 'addcart' i.book_id %}">Add to cart</a></button>
										{% else %}
										<button class="add-to-cart-btn" type="submit">Out of Stock</button>
<!--										<h5 style="color:red;">Out of Stock</h5>-->
                                       {% endif %}
									</div>
								</div>
							 </div>

 {% endfor %}
    </div>
{% endif %}
			</div>
</div>
{% endblock %}

